#name{

    font-size: 18px;

    height: 75%;

    width: 400px;

    font-family: 'Source Code Pro', monospace;

    text-shadow: 4px 4px 4px #aaa;
    
    background-color:Maroon; 
    
    color:White; 
    
    text-align:center

    } 


    #main {
        width: 300px;
       border: 15px;
       padding: 50px;
        margin: 20px;
        position: absolute; 
        top: 120px; 
        right: 0;

   }

  


p1 {

    font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 100%;

    width: 96%;                       

    max-width: 960px;

    margin: 15px auto;

    padding: 15px 0;

    border: 2px solid;

}

.top{
    position:fixed;
    width:100%;
    z-index:1
    top:0
}
#top head{
    color:#000;
    background-color:#fff
    font-size:24px
    max-width:1200px;margin:auto
}
        
  .padding{
      padding:8px 16px
    }
#first grid{
    padding:0 8px
    padding-top:16px!important;padding-bottom:16px!important
